{% extends 'base.html' %}
{% load static %}
{% block title %}
Thorfinn has no enemies
{% endblock %}
{% block content %}
  <!-- contact section start -->
  <div class="contact_section layout_padding padding_top_0">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div align="right" class="email_box">
              <h1>Thorfinn has no enemies.</h1>
              <h2>Thorfinn has no enemies.</h2>
              <h3>Thorfinn has no enemies.</h3>
              <h4>Thorfinn has no enemies.</h4>
              <h5>Thorfinn has no enemies.</h5>
              <h6>Thorfinn has no enemies.</h6>
                 </div>
        </div>
        <div class="col-md-6">
            <a href="https://youtube.com/shorts/VS-m4YWBw30?feature=share3" target="_blank"><div class="move-rightlil"><img src="/media/photos/309871.jpg"></div></a>
        </div>
      </div>
    </div>
  </div>
  <!-- contact section end -->
{% endblock %}