{% extends 'base.html' %}
{% load static %}
{% block title %}
Remot Control
{% endblock %}
{% block content %}
  <!-- testimonial section start -->
<a target="_blank" href="https://www.youtube.com/watch?v=DyVFii6gBJ0&ab_channel=CirclePeople"><img width="1900px" src="/media/photos/Remote.Control.full.1142122.jpg" alt=""></a>
  <!-- testimonial section end -->
{% endblock %}
{% block footer %}
<!-- footer section start -->
  <div class="section_footer ">
      <div class="container">
          <div class="footer_section_2">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3">
                  <h2 class="account_text">remote control</h2>
                  <p class="ipsum_text_2">remote control</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                  <h2 class="account_text">remote control</h2>
                  <div class="useful_link">
                    <ul>
                      <li><a href="#">remote control</a></li>
                      <li><a href="#">remote control</a></li>
                      <li><a href="#">remote control</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                <h2 class="account_text">remote control</h2>
                <p class="ipsum_text_2">remote control</p>
                </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <h2 class="account_text">remote control</h2>
            <input type="" class="email_text" placeholder="remote control" name="404">
            <button class="subscribr_bt">remote control</button>
          </div>
        </div>
      </div>
      <div class="social_icon">
        <ul>
          <li><a href="https://www.facebook.com/"><img src="{% static 'images/fb-icon.png' %}"></a></li>
          <li><a href="https://twitter.com/"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
          <li><a href="https://www.linkedin.com/"><img src="{% static 'images/linkdin-icon.png' %}"></a></li>
          <li><a href="https://www.instagram.com/ukeeeboy/"><img src="{% static 'images/instagram-icon.png' %}"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- footer section end -->
  <!-- Javascript files-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/plugin.js' %}"></script>
    <!-- sidebar -->
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- javascript -->
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
    $(document).ready(function(){
    $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
        });
    </script>
</body>
</html>
{% endblock %}
